*{
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 20% 80%;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: inline-grid;
  grid-template-columns: 40% 60%;
  grid-column: 1 / span 2;

}

.logo {
}

.menu {
  display: inline-grid;
  align-content: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  list-style-type: none;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
  grid-column: 1 / span 1;
  grid-row: 2/4;
  display: grid;
  grid-gap: 50px
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo  {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-items: center;

}

.nav {
  background-color: #FF7755;
  grid-column: 2 / span 1;
  align-self: start;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  list-style-type: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / span 2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
